In [1]:
%%writefile "4. inputOutputBasic.txt"
Hello this is a text file
this is the second line
this is the third line

Overwriting 4. inputOutputBasic.txt

In [2]:
myFile = open("4. inputOutputBasic.txt")

In [3]:
pwd

'C:\\Users\\Senggagau\\PycharmProjects\\Jupyter Notebook'

In [4]:
myFile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [5]:
myFile.read()

''

Untuk melakukan pembacaan ulang, harus dilakukan reset peletakan kursor

In [6]:
myFile.seek(0)
myFile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [7]:
myFile.seek(0)
content = myFile.read()
content

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [8]:

myFile.seek(0)
myFile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [9]:
myFile.seek(0)
myArray = myFile.readlines()

In [10]:
myArray

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [12]:
myArray[0]
myArray[1]
myArray[2]

'this is the third line\n'

In [13]:
myFile.close()

Dengan menggunakan syntax di bawah, kita tidak perlu melakukan operasi close file

In [14]:
with open("4. inputOutputBasic.txt") as myFile:
    content = myFile.read()

In [15]:
content

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

menulis sesuatu pada file

In [17]:
%%writefile "4. newFile.txt"
ONE ON FIRST
TWO ON SECOND
THREE ON SECOND

Writing 4. newFile.txt

In [19]:
with open('4. newFile.txt', mode='a') as myFile:
    myFile.write('FOUR ON FOURTH')

In [20]:
with open("4. newFile.txt") as myFile:
    print(myFile.read())

ONE ON FIRST
TWO ON SECOND
THREE ON SECOND
FOUR ON FOURTH